{
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "printWidth": 200,
        "parser": "angular"
      }
    }
  ]
}
